<main class="data-form-page">
  <section class="data-form-container">

    <div>

      <app-portal-button
        variant="text"
        icon="arrow_back"
        (buttonClick)="cancelar()">
        Voltar
      </app-portal-button>

    </div>


    <header class="data-form-header">

      <span>
        Ministério de Mídia
      </span>

      <h1>
        {{ modoEdicao ? 'Editar Data' : 'Cadastrar Data' }}
      </h1>

      <p>

        @if (modoEdicao) {

          Altere a data ou as informações do culto ou evento.

        } @else {

          Informe a data e o tipo do culto ou evento.

        }

      </p>

    </header>


    @if (carregando) {

      <app-portal-loading
        message="Carregando data...">
      </app-portal-loading>

    } @else {

      <form
        class="data-form-card"
        (ngSubmit)="salvar()">


        <app-portal-input
          name="dataCulto"
          label="Data"
          type="date"
          icon="calendar_month"
          [required]="true"
          [(ngModel)]="dataCulto">
        </app-portal-input>


        <app-portal-select
          name="tipo"
          label="Tipo"
          placeholder="Selecione o tipo"
          icon="event"
          [options]="tipos"
          optionLabel="nome"
          optionValue="id"
          [required]="true"
          [(ngModel)]="tipoSelecionado">
        </app-portal-select>


        @if (ehOutroTipo) {

          <app-portal-input
            name="nomeEvento"
            label="Nome do Evento"
            placeholder="Digite o nome do evento"
            icon="edit"
            [required]="true"
            [(ngModel)]="nomeEvento">
          </app-portal-input>

        }


        <div class="data-form-actions">

          <app-portal-button
            type="button"
            variant="secondary"
            (buttonClick)="cancelar()">
            Cancelar
          </app-portal-button>


          <app-portal-button
            type="submit"
            icon="save"
            [disabled]="!formularioValido"
            [loading]="salvando"
            loadingText="Salvando">

            {{
              modoEdicao
                ? 'Salvar Alterações'
                : 'Salvar'
            }}

          </app-portal-button>

        </div>

      </form>

    }

  </section>
</main>
