<mat-form-field
  class="portal-select"
  appearance="outline"
  subscriptSizing="dynamic"
>
  <mat-label>
    {{ label }}

    @if (required) {
      <span class="portal-select__required">*</span>
    }
  </mat-label>

  @if (icon) {
    <mat-icon matPrefix>
      {{ icon }}
    </mat-icon>
  }

  <mat-select
    [value]="value"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="isDisabled"
    [multiple]="multiple"
    [compareWith]="compareOptions"
    (selectionChange)="handleSelectionChange($event.value)"
    (closed)="handleTouched()"
  >
    @if (options.length === 0) {
      <mat-option disabled>
        Nenhuma opção disponível
      </mat-option>
    } @else {
      @for (
        option of options;
        track option[optionValue]
      ) {
        <mat-option [value]="option">
          {{ option[optionLabel] }}
        </mat-option>
      }
    }
  </mat-select>

  @if (errorMessage) {
    <mat-error>
      {{ errorMessage }}
    </mat-error>
  } @else if (hint) {
    <mat-hint>
      {{ hint }}
    </mat-hint>
  }
</mat-form-field>
