@use '../../../../../theme/variables' as variables;

:host {
  display: block;
  width: 100%;
}

.portal-select {
  width: 100%;

  &__required {
    color: variables.$danger;
  }
}

:host ::ng-deep {
  .mat-mdc-form-field {
    font-family: variables.$font-family;
  }

  .mat-mdc-text-field-wrapper {
    background: variables.$surface;
    border-radius: variables.$radius-medium;
  }

  .mat-mdc-form-field-icon-prefix {
    padding-right: variables.$space-3;
    color: variables.$text-secondary;
  }

  .mat-mdc-form-field.mat-focused {
    .mat-mdc-form-field-icon-prefix {
      color: variables.$primary;
    }
  }

  .mat-mdc-select {
    color: variables.$text-primary;
  }

  .mat-mdc-select-placeholder {
    color: variables.$text-secondary;
  }

  .mat-mdc-select-arrow {
    color: variables.$text-secondary;
  }

  .mat-mdc-form-field.mat-focused {
    .mat-mdc-select-arrow {
      color: variables.$primary;
    }
  }

  .mdc-text-field--disabled {
    background: variables.$background;
  }
}